* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 2. Body styles */
body {
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
}


/* NAVBAR */
.navbar {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 95px;
  padding-top: 30px;
}

.logo {
  width: 150px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
}

/* LINKS */
.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-links img {
  width: 25px;
}

/* ===================== */
/* INSTITUTE DROPDOWN */
/* ===================== */

.dropdown {
  position: relative;
}

.dropdown-toggle img{
     left: 76px;
}
.dropdown-toggle {
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  left: 0;
  background: #fff;
  width: 240px;
  border-radius: 14px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: none;
  flex-direction: column;
  z-index: 999; 
}
/* Show when active */
.dropdown-menu.show {
  display: flex;
}


/* Dropdown items */
.dropdown-menu a {
  margin: 0;
  padding: 10px 14px;
  font-size: 15px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
}

/* Dropdown item icons */
.dropdown-menu a img {
  width: 26px;
  height: 26px;
}

/* Hover effect */
.dropdown-menu a:hover {
  background: #f4f6fb;
}

/* ===================== */

.nav-actions {
  display: flex;
  gap: 28px;
}

.add-btn {
  background: #1e40af;
  color: #fff;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}



/* LOGIN */
.login-btn {
  text-decoration: none;
  color: #111;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  padding-top: 14px;

}


/* ===================== */
/* RESPONSIVE NAVBAR */
/* ===================== */

/* TABLET */
@media (max-width: 992px) {
  .navbar {
    padding: 20px 40px;
  }

  .nav-links a {
    font-size: 16px;
    margin: 0 10px;
  }

  .add-btn {
    width: 135px;
    height: 46px;
    font-size: 16px;
  }

  .dropdown-menu {
    width: 220px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    gap: 18px;
  }

  .nav-links {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 12px;
  }

  .nav-links a {
    margin: 0 8px;
    font-size: 15px;
  }

  .nav-actions {
    width: 100%;
    justify-content: center;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
    width: 100%;
    padding: 0;
    margin-top: 8px;
    border-radius: 0;
  }

  .dropdown:hover .dropdown-menu {
    display: none;
  }

  /* Mobile open on click simulation */
  .dropdown:focus-within .dropdown-menu {
    display: flex;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .logo {
    width: 120px;
  }

  .add-btn {
    width: 100%;
    height: 48px;
  }
}










/*============================About.html================================*/


/* HERO SECTION */
.hero-section {
  padding: 60px 20px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding-left: 72px;
  padding-right: 72px;
  margin: auto;
  gap: 40px;
  flex-wrap: wrap;
}

/* LEFT TEXT */
.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.hero-text p {
  font-size: 20px;
  color: #7a7a7a;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #1e40af; /* blue button */
  color: #fff;
  width: 150px;
  height: 50px;
  padding: 12px 25px;
  text-align: center;
  border-radius: 24px;
  text-decoration: none;
  font-weight: bold;
}

/* RIGHT IMAGE */
.hero-image {
  position: relative;
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.image-circle img {
  width: 520px;
  height: 520px;
  object-fit: cover;
}

/* STAT CARDS */
.stat-card {
  position: absolute;
  background: #fff;
  padding: 10px 15px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 180px;
  height: 50px;
}

.stat-card img {
  width: 24px;
  height: 22px;
}

.stat-card.top {
  top: -20px;
  width: 150px;
  height: 40px;
  right: 60%;
  transform: translateX(50%);
}

.stat-card.top p{
  font-size: 12px;
}


.stat-card.middle {
  bottom: 40px;
  right: 20px;
  width: 190px;
  height: 40px;
}
.stat-card.middle p{
  font-size: 12px;
}

.stat-card.bottom {
  bottom: -20px;
  width: 150px;
  height: 40px;
  left: 130px;
}
.stat-card.bottom p{
  font-size: 12px;
}

.stat-card strong {
  display: block;
  font-size: 1rem;
}

.stat-card span {
  font-size: 0.8rem;
  color: #555;
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-image {
    margin-bottom: 40px;
  }

  .stat-card.top, .stat-card.middle, .stat-card.bottom {
    position: static;
    transform: none;
    margin: 10px auto;
  }
}




.about-section {
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

.about-container {
  display: flex;

  padding-left: 100px;
  padding-right: 100px;

  justify-content: space-between;
}
.about-image {
  flex-shrink: 0;
}

.about-image img {
 width: 450px;                
  height: 450px;
  border-radius: 26px;
  object-fit: cover; 
}

.about-text h2 {
  font-size: 48px;              
  color: #000;
  margin-bottom: 20px;   
  font-family: "Montserrat", sans-serif; 
}

.about-text p {
  font-size: 18px;             
  line-height: 1.75;
  color: #555;
  margin-bottom: 18px;          
  max-width: 700px;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    margin-top: 20px;
  }
}






.vision-mission-section {
  font-family: Arial, sans-serif;
  text-align: center;
}

.vision-mission-section h2 {
  font-size: 2.5rem;
  width: 1500px;
  font-weight: bold;
   padding-top: 80px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 200px;
  flex-wrap: wrap; /* Makes it responsive */
}

.card {
  background-color: #fff;
  border-radius: 25px;
  padding: 30px 20px;
  border-color: #000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  max-width: 590px;
  height: 450px;
  width: 565px;
}

.card img {
  width: 250px;
  height: 250px;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  align-items: center;
}

.card p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }
}





/* SECTION */
.why-section {
  padding: 80px 0;
  padding-top: 10px;
}

.why-container {
  max-width: 1200px;
  margin: auto;
  padding-top: 80px;
}

/* Heading */
.why-heading {
  text-align: center;
  margin-bottom: 40px;
}

.why-heading h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 14px;
  font-family: "Montserrat", sans-serif;
}

.why-heading p {
  font-size: 20px;
  color: #777;
  max-width: 620px;
  margin: auto;
  line-height: 1.7;
}

/* Content Layout */
.why-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/* Columns */
.why-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}

/* Card */
.why-card {
  background: #fff;
  border-radius: 22px;
  padding: 32px 28px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 14px 34px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}


.why-card img {
  width: 42px;
  margin-bottom: 18px;
}

.why-card h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.why-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

.why-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 28px 56px rgba(0, 0, 0, 0.12);
}

/* Center Image */
.cen-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.cen-image img {
  width: 100%;
  max-width: 560px;
  height: 470px;
  object-fit: cover;
  border-radius: 32px;
  box-shadow: 0 22px 50px rgba(0, 0, 0, 0.12);
}

/* Tablet */
@media (max-width: 992px) {
  .why-content {
    flex-direction: column;
  }

  .why-column {
    flex-direction: row;
    justify-content: center;
  }

  .cen-image img {
    height: 420px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .why-heading h2 {
    font-size: 32px;
  }

  .why-column {
    flex-direction: column;
  }

  .cen-image img {
    height: 360px;
  }
}




/* FAQ SECTION */
.faq-section {
  padding: 100px 20px;
  
}

/* CONTAINER */
.faq-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  padding-top: 10px;
  align-items: flex-start;
}

/* LEFT SIDE */
.faq-left {
  flex: 1;
}

.faq-left h2 {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.faq-left p {
  font-size: 20px;
  line-height: 26px;
  color: #666;
  max-width: 400px;
}

/* RIGHT SIDE */
.faq-right {
  flex: 1;
}

/* FAQ ITEM */
.faq-item {
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff;
}

/* QUESTION */
.faq-question {
  width: 100%;
  background: transparent;
  border: none;
  padding: 18px 22px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
   font-family: "Montserrat", sans-serif;
}

/* ICON */
.faq-question .icon {
  font-size: 22px;
}

/* ANSWER */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: #fafafa;
}

.faq-answer p {
  padding: 16px 22px 22px;
  font-size: 15px;
  color: #555;
}

/* ACTIVE */
.faq-item.active .faq-answer {
  max-height: 200px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .faq-container {
    flex-direction: column;
  }

  .faq-left h2 {
    font-size: 42px;
  }
}






/* footer*/

/* .footer {
  background: #111;         
  padding: 300px 30px;
  font-family: Arial, sans-serif;
} */

.footer {
  background: #f7f8fa;
 
}

.footer-container {

  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  gap: 80px;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  border-radius: 24px;
  padding: 70px 80px;
}

/* LEFT */
.footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer-desc {
  font-size: 14px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 28px;
}

.footer-title h4 {
 font-size: 18px;
  font-family: "Montserrat", sans-serif;
}



/* EMAIL */
.email-box {
  display: flex;
  width: 260px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 25px;
}

.email-box input {
  flex: 1;
  border: none;
  padding: 0 18px;
  font-size: 14px;
  outline: none;
}

.email-box button {
  width: 46px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.email-box img {
  width: 34px;
  
}

/* SOCIAL */
.social-icons {
  display: flex;
  gap: 14px;
}

/* LEFT SOCIAL ICONS - ORANGE CIRCLE */
.social-icons i {
  width: 40px;
  height: 40px;
  background: #F97316;      /* same orange */
  color: #fff;              /* icon white */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}


.icon-circle {
  width: 40px;
  height: 40px;
  background: #F97316;   /* FIGMA ORANGE */
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-circle img {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1); /* icon white */
}




/* CENTER */
.footer-heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 22px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 14px;
}

.footer-links a {
  font-size: 14px;
  color: #777;
  text-decoration: none;
}

/* RIGHT */
.contact-row {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
}

.contact-icon {
  width: 36px;
  height: 36px;
}

.contact-row strong {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.contact-row p {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 50px 30px;
  }
}